.header {
    box-shadow: 0 2px 0 rgb(145, 137, 137);
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: rgb(39, 37, 37);
    align-items: center;
    color: white;
}
.header__title {
    margin-right: 50px;
}

.header__link {
    display: flex;

    flex-wrap: wrap;
}

.header__link a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.header__link a:not(:last-child) {
    margin-right: 15px;
}

.header__link a:hover {
    color: rgb(168, 70, 70);
    transition: 1s;
}

@media screen and (max-width: 600px) {
    .header__link {
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 360px) {
    .header__wrap {
        flex-direction: column;
    }
    .header__title {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
