.footer {
    background-color: rgb(39, 37, 37);
    color: white;
    padding: 30px 0;
    display: block;
    margin-top: auto;
}

.footerIcons a {
    font-size: 48px;
    color: white;
    background-color: rgb(39, 37, 37);
}

.footerIcons a:not(:last-child) {
    margin-right: 10px;
}

.footerText {
    font-size: 16px;
}
