.about-page {
    margin-top: 1px;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    flex-wrap: wrap;
    background-color: rgb(240, 240, 240);
}

.about-img img {
    max-width: 100%;
    width: 300px;
    border-radius: 20%;
}

.about-info {
    max-width: 500px;
}

.about-contacts--subtitle {
    margin-top: 10px;
}

.about-contacts--title {
    margin-top: 20px;
}

.about-info--text {
    /* margin-top: 20px; */
    margin: 20px 70px;
}

.bold {
    font-weight: 800;
}

@media screen and (max-width: 900px) {
    .about-info--text {
        /* margin-top: 20px; */
        margin: 20px;
    }
}

@media screen and (max-width: 450px) {
    .about-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-info--text {
        text-align: left;
    }
}
